body {
  font-family: "Roboto" sans-serif;
}
a {
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
header {
  display: inline;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  left: 215px;
  top: 24px;
}

.logo-studio {
  color: #000000;
}

.button-area {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.effective {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.menu-nav {
  position: absolute;
  left: 453px;
  top: 32px;
}
.menu-nav li {
  display: inline;
}

.email {
  position: absolute;
  left: 1078px;
  top: 32px;
  color: #757575;
}
.tel {
  position: absolute;
  left: 1263px;
  top: 32px;
  color: #757575;
}

.lorem {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.lorem dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.lorem dd {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-doing {
  left: 213px;
  top: 969px;
}
.what-we-doing h2 {
  text-align: center;
  left: 622px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing li {
  display: inline;
}

.team {
  background: #f5f4fa;
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}
.team li {
  display: inline;
}
