* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}

a:visited {
  color: default;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

section {
  padding-block: 94px;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  border: 1px solid #ececec;
}

header .logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  left: 215px;
  top: 24px;
}

footer .logo-studio {
  color: white;
}

footer .logo-web {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
}

.logo-studio {
  color: #000000;
}

.button-area {
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  padding: 0;
  text-align: center;
}

.effective {
  padding-top: 200px;
  margin-block: 0px 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  top: 430px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(17, 16, 16, 0.15);
}

.menu-nav {
}

.menu-nav li {
  margin-right: 46px;
  display: inline;
}

.email {
  color: #757575;
}

.tel {
  color: #757575;
}

.lorem {
  list-style-type: none;
}

.lorem h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.lorem li {
  display: inline-block;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  padding: 15px;
}

.lorem li:first-of-type {
  padding-left: 0px;
}

.what-we-doing {
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-block: 0px;
}

.what-we-doing h2 {
  padding-bottom: 50px;
  left: 622px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing ul {
  list-style-type: none;
  padding-bottom: 94px;
}

.what-we-doing li {
  padding: 15px;
  display: inline;
}

.what-we-doing li:first-child {
  padding-left: 0px;
}

.what-we-doing li:last-child {
  padding-right: 0px;
}

.team {
  padding-top: 0px;
  background: #f5f4fa;
  left: 0px;
  top: 1449px;
}

.team ul {
  margin-left: 185px;
  list-style-type: none;
}

.team li {
  margin-left: 30px;
  display: inline-block;
  width: 270px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.team li:first-child {
  margin-left: 0px;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team h2 {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30;
}

footer {
  box-sizing: border-box;
  padding-left: 215px;
  padding-block: 60px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

footer p {
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

figure {
  display: flex;
  flex-direction: column;
  margin: unset;
  border: 1px solid #eeeeee;
  width: 370px;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.portfolio h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding-left: 24px;
}

.portfolio p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 24px;
}

.filters {
  padding-left: 510px;
  padding-bottom: 50px;
}

.filters button {
  height: 38px;
  width: 121px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 4px;
}

.filters button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
