* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}

a:visited {
  color: default;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

section {
  padding-block: 94px;
}

header {
  border: 1px solid #ececec;
  padding-block: 32px;
}

.header-childs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-contacts svg {
  padding-left: 30px;
  padding-right: 10px;
}

.header-contacts svg:first-child {
  padding-left: 0;
}

header .logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  left: 215px;
  top: 24px;
}

.footer-contact .logo-studio {
  color: white;
}

.footer-contact .logo-web {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
}

.logo-studio {
  color: #000000;
}

.button-area {
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  background-image: url(../images/background-button.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(47, 48, 58, 0.4);
  padding: 0;
  text-align: center;
}

.effective {
  padding-top: 200px;
  margin-block: 0px 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;

  top: 430px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(17, 16, 16, 0.15);
}

.menu-nav {
  display: inline;
}

.menu-nav li {
  margin-right: 46px;
  display: inline;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-nav li:last-child {
  margin-right: 0;
}

.email {
  color: #757575;
}

.tel {
  color: #757575;
}

.lorem {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.lorem h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.lorem li {
  display: inline-block;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.lorem li:first-of-type {
  padding-left: 0px;
}

.lorem svg {
  background-color: #f5f4fa;
}

.what-we-doing {
  padding-block: 0px;
  text-align: center;
}

.what-we-doing h2 {
  padding-bottom: 50px;
  left: 622px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-bottom: 94px;
}

.what-we-doing li {
  display: inline;
}

.what-we-doing li:first-child {
  padding-left: 0px;
}

.what-we-doing li:last-child {
  padding-right: 0px;
}

.team {
  padding-top: 0px;
  background: #f5f4fa;
  left: 0px;
  top: 1449px;
}

.team ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
}

.team li {
  width: 270px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
}

.team li:first-child {
  margin-left: 0px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  padding-top: 16px;
}

.social-icon:hover,
.social-icon:focus {
  background-color: #2196f3;
  border-radius: 50px;
  color: white;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-block: 30px 10px;
}

.team h2 {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30;
}

.clients {
  text-align: center;
}

.clients ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clients li {
  border: 1px solid #afb1b8;
  padding-inline: 32px;
  padding-block: 14px;
}

.clients h2 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

footer {
  box-sizing: border-box;
  padding-left: 215px;
  padding-block: 60px;
  background: #2f303a;
}

.footer-content {
  display: flex;
}

.footer-contact a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact p {
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.join-us {
  padding-left: 70px;
}

.join-us h3 {
  color: #ffffff;
  padding-bottom: 20px;
}

.join-us ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-cards figure {
  display: flex;
  flex-direction: column;

  border: 1px solid #eeeeee;
  width: 370px;
}

.portfolio-cards figure:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-cards figcaption {
  padding-block: 20px;
  padding-left: 24px;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.portfolio h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 572px;
  padding-bottom: 50px;
}

.filters button {
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding-inline: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}

.filters button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
