* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
}

textarea {
  resize: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #212121;
}

a:visited {
  color: default;
}

svg {
  cursor: pointer;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

section {
  padding-block: 94px;
}

header {
  border: 1px solid #ececec;
  padding-block: 32px;
}

.header-childs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  left: 215px;
  top: 24px;
}

.footer-contact .logo-studio {
  color: white;
}

.footer-contact .logo-web {
  color: #2196f3;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
}

.logo-studio {
  color: #000000;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: transform, visibility, opacity;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    cubic-bezier(0.4, 0, 0.2, 1) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  min-width: 521px;
  min-height: 582px;
}

.close-button {
  display: flex;
  justify-content: end;
}

.close-button button {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 8px;
  cursor: pointer;
}

.modal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.modal-form .checkbox {
  display: flex;
  align-items: center;
}

.modal-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-form input {
  height: 50px;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.modal-form button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

.button-area {
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
  background-image: url(../images/background-button.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(47, 48, 58, 0.4);
  padding: 0;
  text-align: center;
}

.effective {
  padding-top: 200px;
  margin-block: 0px 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-color: #2196f3;
  top: 430px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(17, 16, 16, 0.15);
}

.menu-nav {
  display: inline;
  margin-left: 93px;
}

.menu-nav li {
  margin-right: 46px;
  position: relative;
  display: inline;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu-nav a:hover,
.menu-nav a:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-active::after {
  content: "";
  position: absolute;
  background: #2196f3;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -28px;
}

.menu-nav li:last-child {
  margin-right: 0;
}

.email {
  display: flex;
  align-items: center;
  color: #757575;
}

.tel {
  display: flex;
  align-items: center;
  color: #757575;
}

.tel:hover svg {
  fill: #2196f3;
}

.email:hover svg {
  fill: #2196f3;
}

.lorem {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.lorem h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.lorem li {
  display: inline-block;
  width: 270px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
}

.lorem li:first-of-type {
  padding-left: 0px;
}

.lorem svg {
  background-color: #f5f4fa;
}

.what-we-doing {
  padding-block: 0px;
  text-align: center;
}

.what-we-doing h2 {
  padding-bottom: 50px;
  left: 622px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-bottom: 94px;
}

.what-we-doing li {
  position: relative;
  display: inline;
  z-index: 1;
}

.what-we-doing p {
  position: absolute;
  bottom: 4px;
  left: 0px;
  width: 370px;
  display: inline;
  padding-block: 27px;
  z-index: 2;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.what-we-doing li:first-child {
  padding-left: 0px;
}

.what-we-doing li:last-child {
  padding-right: 0px;
}

.team {
  padding-top: 0px;
  background: #f5f4fa;
  left: 0px;
  top: 1449px;
}

.team ul {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-between;
}

.team li {
  width: 270px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  box-sizing: border-box;
}

.team li:first-child {
  margin-left: 0px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  padding-block: 16px 30px;
}

.social-media a:hover svg,
.social-media a:focus svg {
  background-color: #2196f3;
  border-radius: 50px;
  fill: white;
  color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon * a:hover {
  fill: white;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon li:hover svg,
.social-icon li:focus svg {
  background-color: #2196f3;
  color: #2196f3;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-block: 30px 10px;
}

.team h2 {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 30;
}

.clients {
  text-align: center;
}

.clients ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clients li {
  border: 1px solid #afb1b8;
  padding-inline: 32px;
  padding-block: 14px;
  cursor: pointer;
}

.clients h2 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients li:hover svg,
.clients li:focus svg {
  fill: #2196f3;
  transition-property: color, scale;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    cubic-bezier(0.4, 0, 0.2, 1);
  scale: 2;
}

.clients li:hover,
.clients li:focus {
  border-color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  box-sizing: border-box;
  padding-block: 60px;
  background: #2f303a;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-contact a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact p {
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.join-us {
  padding-left: 70px;
}

.join-us h3 {
  color: #ffffff;
  padding-bottom: 20px;
}

.join-us ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.join-us li {
  padding-left: 10px;
}

.join-us li:first-child {
  padding-left: 0px;
}

.join-us svg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 80px;
}

.newsletter label {
  display: flex;
  align-items: flex-end;
}

.newsletter input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 20px;
  margin-right: 12px;
  padding-left: 16px;
}

.newsletter div {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.newsletter button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.portfolio * p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 372px;
  height: 294px;
  pointer-events: none;
  visibility: hidden;
  transition-property: transform, visibility, opacity;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    cubic-bezier(0.4, 0, 0.2, 1) cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
}

.slider > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 24px;
}

.portfolio-cards figure:hover .slider {
  transform: translatey(-100%);
  background: rgba(33, 150, 243, 0.9);
  z-index: 1;
  visibility: visible;
}

.portfolio-cards figure {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid #eeeeee;
  width: 370px;
  cursor: pointer;
  overflow: hidden;
  z-index: 11;
}

.portfolio-cards figure:hover {
  box-shadow: 1px 4px 6px 0px #00000029;

  box-shadow: 0px 4px 4px 0px #0000000f;

  box-shadow: 0px 1px 1px 0px #0000001f;
}

.portfolio-cards figure:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-labels {
  position: relative;
  padding-block: 20px;
  padding-left: 24px;
  background: #fff;
  z-index: 10;
}

.portfolio-cards img {
  width: auto;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.portfolio h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 572px;
  padding-bottom: 50px;
}

.filters button {
  height: 38px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding-inline: 22px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;
}

.filters button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
