body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}

a:hover {
  color: #2196f3;
}
a:focus {
  color: #2196f3;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
header {
  display: inline;
}
.logo-web {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #2196f3;
  left: 215px;
  top: 24px;
}

.logo-studio {
  color: #000000;
}

.button-area {
  width: 1600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.effective {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button-order {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}

.menu-nav {
  left: 453px;
  top: 32px;
}
.menu-nav li {
  display: inline;
}

.email {
  left: 1078px;
  top: 32px;
  color: #757575;
}

.tel {
  left: 1263px;
  top: 32px;
  color: #757575;
}

.lorem {
  width: 1170px;
  left: 215px;
  top: 774px;
}
.lorem dt {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.lorem dd {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.what-we-doing {
  left: 213px;
  top: 969px;
}
.what-we-doing h2 {
  text-align: center;
  left: 622px;
  top: 969px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #212121;
}

.what-we-doing li {
  display: inline;
}

.team {
  background: #f5f4fa;
  width: 1600px;
  left: 0px;
  top: 1449px;
}
.team li {
  width: 270px;
  left: 215px;
  top: 1635px;

  background: #ffffff;
}

.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

footer {
  width: 1600px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

footer p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.portfolio {
  width: 1170px;
  left: 215px;
  top: 179px;
}

.portfolio > td {
  width: 370px;
  height: 404px;
}

.portfolio h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.filters button {
  width: 121px;
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font: bold 16px sans-serif;
  cursor: pointer;
}

.filters button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #ffffff;
}
