footer {
  background: #2f303a;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-block: 60px;
}

.footer-logo {
  color: $main-blue-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  font-family: "Raleway";
  text-decoration: none;
  &__studio {
    color: #ffffff;
  }
}

.footer-contact__item {
  padding-top: 20px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  &--text {
    color: #ffffff;
  }
  &--link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    padding: 0;
  }
}

.join-us {
  padding-left: 70px;
  &__heading {
    color: #ffffff;
    padding-bottom: 20px;
  }
  &__social {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

.social-link {
  padding-left: 10px;
  &:first-child {
    padding: 0;
  }
  &__icon--footer {
    fill: #ffffff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 80px;
    transition: $main-transition, $transition-bg;
    &:hover,
    &:focus {
      background: $main-blue-color;
    }
  }
}

.newsletter-label {
  display: flex;
  align-items: flex-end;
  &__input {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  &__input input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
    margin-right: 12px;
    padding-left: 16px;
    outline: none;
  }
}

.newsletter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background: $main-blue-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}
