* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

button,
a {
  cursor: pointer;
}

.container {
  max-width: 480px;
  margin: 0 auto;
}

section {
  padding-block: 60px;
}

@media #{$tablet} {
  .container {
    min-width: 768px;
    max-width: 1199px;
    margin: 0 auto;
  }
}
@media #{$desktop} {
  * {
    font-family: "Roboto", sans-serif;
    margin: 0;
  }

  .container {
    min-width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }

  section {
    padding-block: 94px;
  }
}
