.header-childs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__logo-web {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: var(--main-blue-color);
    left: 215px;
    top: 24px;
    text-decoration: none;
    &--studio {
      color: #000000;
    }
  }
}
.main-nav {
  display: inline;
  margin-left: 93px;
}

.header-contacts {
  display: flex;
  align-items: center;
  &__link {
    display: flex;
    align-items: center;
    color: var(--main-grey);
    text-decoration: none;
    transition: var(--main-transition);
    &:hover,
    &:focus {
      color: var(--main-blue-color);
    }
    &--icon {
      fill: var(--main-grey);
      transition: var(--transition-fill);
      &:hover,
      &:focus {
        fill: var(--main-blue-color);
      }
    }
  }
}
